@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.container {
  margin: 0;

  @include content-padding-inline;
}

.product__photo,
.category__photo {
  transition: transform $effectDuration;
  display: block; // щоб не було відступів знизу
}

.product:hover .product__photo,
.category__link:hover .category__photo {
  transform: scale(1.05);
}
