@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.about-us {
  background-color: #fcfaef;
  padding-bottom: 48px;

  &__wrapper {
    @include page-grid;

    padding-inline: 0;
  }

  &__image {
    height: 200px;
    background-image: url(../images/about-us/about-us.png); /* Шлях до вашого зображення */
    background-size: cover; /* Масштабуємо зображення */
    background-position: center; /* Центруємо зображення */
    margin-bottom: 48px;

    @include on-tablet {
      height: 400px;
      margin-bottom: 120px;
    }

    @include on-desktop {
      background-image: url(../images/about-us/about-us-desktop.png);
      height: 460px;
    }
  }

  &__title {
    margin-bottom: 24px;
    grid-column: 1 / -1;

    @include on-tablet {
      margin: 0;
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__content {
    grid-column: 1 / -1;
    width: 100%;
    max-width: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 120px;
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 8 / -1;
      display: block;
    }
  }

  &__description {
    margin: 0;
    width: 100%;
    max-width: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}
