/* #region icon */
@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-image: url(../icons/icon-burger-menu.png);
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  @include on-desktop {
    background-image: url(../icons/icon-burger-menu-desktop.png);
  }

  &--phone {
    background-image: url(../icons/icon-phone.png);

    @include on-desktop {
      background-image: url(../icons/icon-phone-desktop.png);
    }
  }

  &--menu {
    background-image: url(../icons/icon-burger-menu.png);

    @include on-desktop {
      background-image: url(../icons/icon-burger-menu-desktop.png);
    }

    &:hover {
      background-image: url(../icons/icon-burger-menu-hover.png);
    }
  }

  &--close {
    background-image: url(../icons/icon-close.png);

    @include on-desktop {
      background-image: url(../icons/icon-close-desktop.png);
    }
  }
}

/* #endregion */
