@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.product {
  &__photo {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    @include on-tablet {
      max-width: 600px;
    }

    @include on-desktop {
      max-width: 324px;
    }
  }

  &__title {
    line-height: 140%;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  &__price {
    margin-top: 12px;
    font-weight: 700;
    font-style: Bold;
    line-height: 140%;
  }

  &__category {
    max-width: 280px;
    grid-column: 1 / -1;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: $main-text-color;

    @include on-tablet {
      max-width: 600px;
      grid-column: 2 / -2;
    }

    @include on-desktop {
      max-width: 280px;
      grid-column: span 3;
    }
  }
}
