@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.recommended {
  &__products {
    @include page-grid;

    padding-inline: 0;
    row-gap: 40px;
  }

  &__product {
    grid-column: 1 / -1;
    justify-self: start;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
